<div class = "new_post"><h2>New Post</h2></div>
<%= form_for(post) do |f| %>
  <%= f.label :title, "Titile" %>
  <%= f.text_field :title %>

  <%= f.label :body %>
  <%= f.text_field :body %>

  <%= f.submit %>
<% end %>
